// style sheet for portfolio/projects page

.media {
    font-weight: bold;
  }

.imagesize {
  width:500px;
  position:relative;
  right: 8%;
}

.card-footer-item {
  color:white;
  font-weight: bold;
}
hr.rounded {
  border-top: 8px solid #f6d702;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #f6d702;
}

.flat-button {
  color: #ffd700;
  font-size: 13px;
  font-weight: 400;
  letter-spacing:4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffd700;
  margin-top: 0px;
  left: 25px;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
}

.flat-button:hover {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing:4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffffff;
  margin-top: 0px;
  left: 25px;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
}